.control {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.answer-line {
  width: 100%;
  height: 60px;
  background-color: red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3px;
}

.letters {
  width: 100%;
  height: 90%;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.lines {
  width: 100%;
  height: 10%;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.letter-underline {
  width: 50px;
  height: 6px;
  background-color: black;
  bottom: 0;
  align-self: flex-end;
}

.letter-wrapper {
  width: 50px;
  height: 100%;
  background-color: rgb(0, 255, 0);
  bottom: 0;
}
