.gallows-wrapper {
  position: relative;
  border: 3px solid rgb(0, 0, 0);
  display: flex;
  justify-content: center;

  .corner {
    background-color: rgb(69, 69, 170);
    width: 20px;
    height: 20px;
    position: relative;
    position: absolute;
  }

  #corner-left-top {
    top: 0px;
    left: 0px;
  }

  #corner-left-bottom {
    left: 0px;
    bottom: 0px;
  }

  #corner-right-top {
    right: 0px;
    top: 0px;
  }

  #corner-right-bottom {
    right: 0px;
    bottom: 0px;
  }

  .upperlayer {
    position: absolute;
    background: white;
    width: 20px;
    height: 20px;
    bottom: 0;
    left: 0;
  }

  #upperlayer-left-top {
    border-top-left-radius: 500px;
  }

  #upperlayer-left-bottom {
    border-bottom-left-radius: 500px;
  }

  #upperlayer-right-top {
    border-top-right-radius: 500px;
  }

  #upperlayer-right-bottom {
    border-bottom-right-radius: 500px;
  }

  .gallows-grid {
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    justify-items: center;
    align-items: center;
    padding: 60px;
    max-width: 1440px;
    .gallows-wrapper {
      //background-color: rgb(134, 65, 65);
      width: 100%;
      height: 100%;
      border: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
      .hangman-game {
        font-family: 'Inter', sans-serif;
        font-weight: 700;
        font-size: 2.5rem;
        max-height: 50px;
      }
      .gallows {
        position: relative;
        width: 70%;
        height: 90%;
        overflow: visible;
        //background-color: blue;
        .stick {
          position: absolute;
        }
        .helper {
          position: absolute;
          width: 70px;
          height: 70px;
          left: 15%;
          #stick-3 {
            width: 10px;
            height: 120%;
            background-color: black;
            z-index: 1;
            transform: rotate(45deg);
            left: 30px;
            top: -8px;
          }
        }
        .helper-2 {
          position: absolute;
          overflow: visible;
          //background-color: red;
          width: 32%;
          height: 400px;
          top: 12.5%;
          right: 0;
        }
        #stick-1 {
          height: 13%;
          width: 10px;
          background-color: black;
          right: 15%;
        }
        #stick-2 {
          height: 10px;
          width: 70%;
          background-color: black;
          right: 15%;
        }
        #stick-4 {
          height: 100%;
          width: 10px;
          background-color: black;
          left: 15%;
          position: relative;
        }
        #stick-5 {
          height: 10px;
          width: 100%;
          background-color: black;
          bottom: 0;
        }
      }
    }
  }
}
