.incorrect-wrapper {
  width: 100%;
  grid-template-columns: 1fr 5fr;
  font-family: 'Inter', sans-serif;
  text-align: center;
  height: 200px;
}

.incorrect-guesses {
  font-weight: 600;
  font-size: 1.5rem;
  display: inline;
}

.incorrect-guesses-counter {
  font-weight: 600;
  font-size: 1.5rem;
  display: inline;
  color: red;
}
