@import '../scss/blocks/_gallows.scss';
@import '../scss/blocks/_hangedman.scss';
@import '../scss/blocks/_answer.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  height: 100%;
  overflow: hidden;
  font-size: 16px;
}

.container {
  position: absolute;
  margin: 0 auto;
  padding: 10px;
  min-width: 100%;
  max-width: 1920px;
}
